<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1>Balances</h1>
  <ion-item *ngFor="let account of accountList" style="width:100%">
      <h2>{{account.Name}}</h2>
      <p>{{account.Type}}</p>
      <p>
      <strong>{{account.Balance}}</strong>
      </p>
  </ion-item>

  <h1>Categories</h1>
  <ion-item *ngFor="let category of categoryList" >  
      <p>{{category.Name}}</p> 
      <p>{{category.Balance}}</p> 
  </ion-item>
  
 <h1>Expenses (last 3)</h1>
 <ion-item *ngFor="let expense of expenseList;let i=index" >  
        <p *ngIf="i<3">Account:{{expense.AccountName}}</p> 
        <p *ngIf="i<3">Category:{{expense.CategoryName}}</p> 
        <p *ngIf="i<3">Payee:{{expense.payee}}</p>
        <p *ngIf="i<3">Memo:{{expense.note}}</p>
        <p *ngIf="i<3">Amount:{{expense.amount}}</p>
  </ion-item>
  <button ion-button (click)="openExpenseModal()">
    Add Expense
  </button>

  <h1>Bills</h1>
    <ion-item *ngFor="let bill of billsList" style="width:100%">
        <h2>{{bill.Name}}</h2>
        <p>
            <strong>{{bill.Amount}}</strong>
        </p>
    </ion-item>

  <button ion-button (click)="logOut();">Log Out</button>
</ion-content>
