<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
 <h1>Balances</h1>
 <ion-item *ngFor="let account of accountList" style="width:100%">
    <h1>{{account.Name}}</h1>
    <p>{{account.Type}}</p>
    <p>
        <strong>{{account.Balance}}</strong>
    </p>
</ion-item>

<h1>Categories</h1>
<ion-item *ngFor="let category of categoryList" >  

    <h1>{{category.Name}}</h1> 
    <h1>{{category.Balance}}</h1> 

</ion-item>
  
 <h1>Expenses (list of recent)</h1>
 <ion-item *ngFor="let expense of expenseList;let i=index" >  
 
        <p *ngIf="i<3">{{expense.AccountName}}</p> 
        <p *ngIf="i<3">{{expense.CategoryName}}</p> 
        <p *ngIf="i<3">{{expense.amount}}</p>
  
    </ion-item>

  <button ion-button (click)="openExpenseModal()">Add Expense</button>
</ion-content>
