<ion-header>
  <ion-navbar>
    <ion-title>InitUser</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>Add New Account</h1>
  <ion-icon name="add" style="font-size: 3em;" (click)="openModalWithParams()"></ion-icon>
  
  <h1>Added Accounts</h1>
  <ion-item *ngFor="let account of accountList" style="width:100%">
    <h1>{{account.Name}}</h1>
    <p>{{account.Type}}</p>
    <p>
    <strong>{{account.Balance}}</strong>
    </p>
  </ion-item>

  <h1>Add your Categories</h1>
  <ion-icon name="add" style="font-size: 3em;" (click)="openCategoryModalWithParams()"></ion-icon>

  <h1>Added categories</h1>
  <ion-item *ngFor="let category of categoryList" style="width:100%">
    <h1>{{category.Name}}</h1>
    <p>{{category.Balance}}</p> 
  </ion-item>
  <div>
  <!--<button ion-button block color="primary" (click)="openModalWithParams()">Add a Category</button>-->
    <button id="nextButton" ion-button block color="primary" (click)="gotoinitCategories()">Next</button>
  </div>
</ion-content>
